<!DOCTYPE html>
<html>
<head>
	<title>Habit Breaker | Sign In</title>
	<meta charset ="utf-8">
	<meta name="description" content="Sign In to Habit breaker to break your habits">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" >
	<link rel="stylesheet" type="text/css" href="/static/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<script type="text/javascript" src="/static/js/jquery.min.v3.1.0.js"></script>
	<script type="text/javascript" src="/static/js/script.js"></script>
	
</head>
<body>
	<div id="wrapper">
		<header>
			<a href='/'><h1>Habit Breaker</h1></a>
			
			<a href="/about">About</a>
			{% if not 'id' in session %}
				<a href="/signin">Sign In</a>
				<a href="/signup">Sign Up</a>
			{%else%}
				<a href="/users/{{session['id']}}">My page</a>
				<a href="/users/account/{{session['id']}}">Account info</a>
				<a href="/logout">Log Out</a>
			{% endif %}
		</header>
		<div class="box">
			<h2>Welcome{% if 'first_name' in session %}, {{session['first_name']}}{% endif %}!</h2>
			<h2>Log In</h2>
			{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
					{% for category, message in messages %}
						{% if 'log' in category %}
							<span class="{{category}}">{{ message }}</span>
						{% endif %}
					{% endfor %}
				{% endif %}
			{% endwith %}
			
			<form action="/login" method="POST">
				<label for = "email_log">
					Email: <input type="text" id="email_log" name="email" placeholder="Email" value="">
				</label>
				<label for="password_log">
					Password: <input type="password" id="password_log" name="password" placeholder="Password">
				</label>
				{%if habit_id%}
					<input type="hidden" value = "{{habit_id}}" name="habit_id" id="habit_id">
				{% endif %}
				<input type="submit" value="Log In" name="submit">
				<!-- <input type="submit" value="Clear the form" name="submit"> -->
			</form>
						<!-- facebook signup -->
			<script>
	  			function statusChangeCallback(response) {
	  				console.log('statusChangeCallback');
	    			console.log(response);

	    			if (response.status === 'connected') {
	    				testAPI(); 
	    			} else if (response.status === 'not_authorized') {
	    				document.getElementById('status').innerHTML = 'Please log ' + 'into this app.';
	    			} else {
	      				document.getElementById('status').innerHTML = 'Please log ' + 'into Facebook.';
	  				}
	  			}

	  			function checkLoginState() {
	    			FB.getLoginStatus(function(response) {
	      				statusChangeCallback(response);
	    			});
	  			}

				window.fbAsyncInit = function() {
		  			FB.init({
		   				appId      : '',
		    			cookie     : true,
		    			xfbml      : true,  
		   				version    : 'v2.2' 
		 			});

		 			FB.getLoginStatus(function(response) {
		    			statusChangeCallback(response);
		    			console.log(response.authResponse.userID);
		  			});
	  			};

	  			(function(d, s, id) {
	   				var js, fjs = d.getElementsByTagName(s)[0];
	    			if (d.getElementById(id)) return;
	   				js = d.createElement(s); js.id = id;
	   				js.src = "//connect.facebook.net/en_US/sdk.js";
	    			fjs.parentNode.insertBefore(js, fjs);
	 			}(document, 'script', 'facebook-jssdk'));

 				function testAPI() {
	    			console.log('Welcome!  Fetching your information.... ');
	  				FB.api('/me','GET',
	 				{"fields":"id,email,first_name,last_name"}, function(response) {
	      				console.log('Successful login for: ' + response.first_name + response.last_name);
	      				// document.getElementById('status').innerHTML = 'Thanks for logging in, ' + response.first_name + '!';
	      				console.log(response);

	      				window.location = "/facebook_success/"+response.first_name+"/"+response.last_name+"/"+response.email;
	 
    				});
  				}
		</script>

			<!-- <div id="fb-root"></div>
			<script>
				(function(d, s, id) {
				  var js, fjs = d.getElementsByTagName(s)[0];
				  if (d.getElementById(id)) return;
				  js = d.createElement(s); js.id = id;
				  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7&appId=";
				  fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));
			</script>
			 -->
			<!-- <div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="true" onlogin="checkLoginState();"></div> -->
			<fb:login-button scope="public_profile,email" data-size="large" onlogin="checkLoginState();"></fb:login-button>
		</div>

		<footer>
			<p> &copy;RabbitBreakesTeam <a href="/help">Help</a> <a href="/contact">Contact</a></p>
		</footer>
	</div>
</body>
</html>