<!DOCTYPE html>
<html>
<head>
	<title>Habit Breaker | Sign Up</title>
	<meta charset ="utf-8">
	<meta name="description" content="Sign Up to Habit breaker to break your habits">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" >
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<link rel="stylesheet" type="text/css" href="/static/css/normalize.css">
	<script type="text/javascript" src="/static/js/script.js"></script>
	<script type="text/javascript" src="static/js/jquery.min.v3.1.0.js"></script>
</head>
<body>
	<div id="wrapper">
		<header>
			<a href='/'><h1>Habit Breaker</h1></a>
			
			<a href="/about">About</a>
			{% if not 'id' in session %}
				<a href="/signin">Sign In</a>
				<a href="/signup">Sign Up</a>
			{%else%}
				<a href="/users/{{session['id']}}">My page</a>
				<a href="/logout">Log Out</a>
			{% endif %}
		</header>
		<div class="box">
			<h2>Welcome{% if 'first_name' in session %}, {{session['first_name']}}{% endif %}!</h2>
			<h2>Registration</h2>
			{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
					{% for category, message in messages %}
						{% if 'reg' in category %}
							<span class="{{category}}">{{ message }}</span>
						{% endif %}
					{% endfor %}
				{% endif %}
			{% endwith %}
			<form action="/register" method="POST">
				<label for='first_name'>
					First Name: <input type="text" id="first_name" name="first_name" placeholder="First Name" value="">
				</label>
				<label for="last_name">
					Last Name: <input type="text" id="last_name" name="last_name" placeholder="Last Name" value="">
				</label>
				<label for = "email">
					Email: <input type="text" id="email" name="email" placeholder="Email" value="">
				</label>
				<!-- <label for = "phone_number">
					Phone Number: <input type="text" id="phone_number" name="phone_number" placeholder="8881112233" value="">
				</label> -->
				<!-- Change type from text to password -->
				<label for="password">
					Password: <input type="password" id="password" name="password" placeholder="Password">
				</label>
				<label for="conf_password">
					Confirmation: <input type="password" id="conf_password" name="conf_password" placeholder="Confirm Password">
				</label>
				
				<input type="submit" value="Submit" name="submit">
			</form>
		</div>

		<footer>
			<p> &copy;RabbitBreakesTeam <a href="/help">Help</a> <a href="/contact">Contact</a></p>
		</footer>
	</div>
</body>
</html>