<!DOCTYPE html>
<html>
<head>
	<title>Habit Breaker | User Edit page</title>
	<meta charset ="utf-8">
	<meta name="description" content="Habit breaker will help to break your habits">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" >
	<link rel="stylesheet" type="text/css" href="/static/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<script type="text/javascript" src="/static/js/jquery.min.v3.1.0.js"></script>
	<script type="text/javascript" src="/static/js/script.js"></script>
	
</head>
<body>
	<div id="wrapper">
		<header>
			<a href='/'><h1>Habit Breaker</h1></a>
			
			<a href="#">About</a>
			{% if not 'id' in session %}
				<a href="/signin">Sign In</a>
				<a href="/signup">Sign Up</a>
			{%else%}
				<a href="/users/{{session['id']}}">My page</a>
				<a href="/users/account/{{session['id']}}">Account info</a>
				<a href="/logout">Log Out</a>
			{% endif %}
		</header>
		<div class="box">
			<h2>Welcome{% if 'first_name' in session %}, {{session['first_name']}}{% endif %}!</h2>
			<hr><br>
			<h3>Update your information:</h3>
			{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
					{% for category, message in messages %}
							<span class="{{category}}">{{ message }}</span>
					{% endfor %}
				{% endif %}
			{% endwith %}
			<form action="/users/update/{{ session['id'] }}" method="POST">
				<label for='first_name'>
					First Name: <input type="text" id="first_name" name="first_name" placeholder="First Name" value="{{user['first_name']}}">
				</label>
				<label for="last_name">
					Last Name: <input type="text" id="last_name" name="last_name" placeholder="Last Name" value="{{user['last_name']}}">
				</label>
				<label for = "email">
					Email: <input type="text" id="email" name="email" placeholder="Email" value="{{user['email']}}">
				</label>
				<!-- <label for = "phone_number">
					Phone Number: <input type="text" id="phone_number" name="phone_number" placeholder="8881112233" value="{{user['phone_number']}}">
				</label> -->

				<!-- Change type from text to password -->
				<!-- <label for="password">
					Password: <input type="password" id="password" name="password" placeholder="Password">
				</label>
				<label for="conf_password">
					Confirmation: <input type="password" id="conf_password" name="conf_password" placeholder="Confirm Password">
				</label> -->
				<input type="hidden" name="id" value="{{ session['id'] }}">
				<input type="submit" value="Update">
			</form>
			<hr>
			<a href="/users/account/{{session['id']}}">Cancel</a>
			<a href="/users/password/{{session['id']}}">Change password</a>
			<a href="/users/delete_user/{{session['id']}}">Delete Account</a>
			<hr>
		</div>
		<footer>
			<p> &copy;RabbitBreakesTeam <a href="#">Help</a> <a href="#">Contact</a></p>
		</footer>
	</div>
</body>
</html>