<!DOCTYPE html>
<html>
<head>
	<title>Habit Breaker | User page</title>
	<meta charset ="utf-8">
	<meta name="description" content="Habit breaker will help to break your habits">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" >
	<link rel="stylesheet" type="text/css" href="/static/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<script type="text/javascript" src="/static/js/jquery.min.v3.1.0.js"></script>
	<script type="text/javascript" src="/static/js/script.js"></script>
	
</head>
<body>
	<div id="wrapper">
		<header>
			<a href='/'><h1>Habit Breaker</h1></a>
			<a href="#">About</a>
			{% if not 'id' in session %}
				<a href="/signin">Sign In</a>
				<a href="/signup">Sign Up</a>
			{%else%}
				<a href="/users/{{session['id']}}">My page</a>
				<a href="/users/account/{{session['id']}}">Account info</a>
				<a href="/logout">Log Out</a>
			{% endif %}
		</header>
		<div class="box">
			<h2>Welcome{% if 'first_name' in session %}, {{session['first_name']}}{% endif %}!</h2>
			<a href="/habits/add_habit">Add New Habit</a>
			{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
					{% for category, message in messages %}
						
						<span class="{{category}}">{{ message }}</span>
						
					{% endfor %}
				{% endif %}
			{% endwith %}
			<hr><hr><br>
			<h3>Your Habits:</h3><br>
			{% if habits %}
				

				<table>
				<thead>
					<!-- <th><h3>View</h3></th> -->
					<th><h3>Habit Name</h3></th>
					<th><h3>Amout per violation</h3></th>
					<th><h3>Action</h3></th>
				</thead>

				<tbody>
					{% for habit in habits %}
						<tr>
							<!-- <td>Display data</td> -->
							<td><a href="/habits/show_habit/{{habit['id']}}">{{habit['habit_name']}}</a></td>
							<td>${{habit['amount']}}</td>
							<td>
								<a href="/habits/ask_for_help/{{habit['id']}}">Ask for help with {{habit['habit_name']}}</a>
								<a href="/habits/delete/{{habit['id']}}">Delete {{habit['habit_name']}}</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			{% endif %}
			<br>
			<hr><hr><br>
			<h3>Your Friends Habits:</h3>
			{% if friend_habits %}
				

				<table>
				<thead>
					<!-- <th><h3>View</h3></th> -->
					<th><h3>Habit Name</h3></th>
					<th><h3>Friend Name</h3></th>
					<th><h3>Amout per violation</h3></th>
					<th><h3>Action</h3></th>
				</thead>

				<tbody>
					{% for habit in friend_habits %}
						<tr>
							<!-- <td>Display data</td> -->
							<td><a href="/habits/show_habit/{{habit['id']}}">{{habit['habit_name']}}</a></td>
							<td>{{habit['first_name']}}</td>
							<td>${{habit['amount']}}</td>
							<td><a href="/habits/submit/{{habit['id']}}/{{session['id']}}">Submit violation</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			{% endif %}

		</div>
		<footer>
			<p> &copy;RabbitBreakesTeam <a href="#">Help</a> <a href="#">Contact</a></p>
		</footer>
	</div>
</body>
</html>