<!DOCTYPE html>
<html>
<head>
	<meta charset ="utf-8">
	<title>Product Update Page</title>
	<meta name="description" content="Product update page using Pylot">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<link rel="stylesheet" type="text/css" href="/static/css/normalize.css">
</head>
<body>
	<div id="wrapper">
		<h1>Product {{product['id']}}</h1>
		<div class="box">
			<h2>Update a product</h2>
			{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
					{% for category, message in messages %}
						{% if 'reg' in category %}
							<span class="{{category}}">{{ message }}</span>
						{% endif %}
					{% endfor %}
				{% endif %}
			{% endwith %}
			<form action="/products/update/{{ product['id'] }}" method="POST">
				<label for="name">Name: 
					<input type="text" name="name" id="name" placeholder="Name of a new course" value="{{ product['name'] }}">
				</label>
				<label for="price"><span>Description: </span>
					<input type="text" name="price" id="price" value="{{ product['price'] }}">
				</label>
				<label for="description"><span>Description: </span>
					<textarea name="description" id="description">{{ product['description'] }}</textarea>
				</label>
				<input type="hidden" name="id" value="{{ product['id'] }}">
				<input type="submit" value="Update">
			</form>
			<a href="/products/show/{{ product['id'] }}">Show</a>
			<a href="/products">Go back to products</a>
		</div>
		<a href="/">Home Page</a>
	</div>
</body>
</html>