<!DOCTYPE html>
<html>
<head>
	<meta charset ="utf-8">
	<title>Add New Product Page</title>
	<meta name="description" content="Add new product page using Pylot">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<link rel="stylesheet" type="text/css" href="/static/css/normalize.css">
</head>
<body>
	<div id="wrapper">
		<h1>Products</h1>
		<div class="box">
			<h2>Add a new product</h2>
			{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
					{% for category, message in messages %}
						
						<span class="{{category}}">{{ message }}</span>
						
					{% endfor %}
				{% endif %}
			{% endwith %}
			<form action="/products/create" method="POST">
				<label for="name">Name: 
					<input type="text" name="name" id="name" placeholder="Name of a new product">
				</label>
				<label for="price">Price:
					<input type="text" name="price" id="price" placeholder="10.00">
				</label>
				<label for="description"><span>Description: </span>
					<textarea name="description" id="description" placeholder="Description goes here"></textarea>
				</label>
				<input type="submit" value="Add">
			</form>
			<a href="/products">Go back</a>
		</div>
		<a href="/">Go back</a>
	</div>
</body>
</html>