<!DOCTYPE html>
<html>
<head>
	<title>Habit Breaker | Habit page</title>
	<meta charset ="utf-8">
	<meta name="description" content="Habit breaker will help to break your habits">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" >
	<link rel="stylesheet" type="text/css" href="/static/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<script type="text/javascript" src="/static/js/jquery.min.v3.1.0.js"></script>
	<script type="text/javascript" src="/static/js/script.js"></script>
	
</head>
<body>
	<div id="wrapper">
		<header>
			<a href='/'><h1>Habit Breaker</h1></a>
			<a href="#">About</a>
			{% if not 'id' in session %}
				<a href="/signin">Sign In</a>
				<a href="/signup">Sign Up</a>
			{%else%}
				<a href="/users/{{session['id']}}">My page</a>
				<a href="/users/account/{{session['id']}}">Account info</a>
				<a href="/logout">Log Out</a>
			{% endif %}
		</header>
		<div class="box">
			<h2>Welcome{% if 'first_name' in session %}, {{session['first_name']}}{% endif %}!</h2><h3>Violations:</h3>
			<a href="/users/helpers/{{habit_id}}">List of my Helpers</a>
			{% if habit_violations %}
			
			<h3>Habit Details - "{{habit_violations[0]['habit_name']}}", created at - "{{habit_violations[0]['habit_date'].strftime('%b %d %Y %I:%M %p')}}", total amount - ${{sum}}</h3>
			<!-- <a href="/users/helpers/{{session['id']}}">List of my Helpers</a> -->
			<br>
				
			<table>
				<thead>
					<th>Vaiolation Date</th>
					<th>Helper Name</th>
					<th>Amount</th>
					<th>Action</th>
				</thead>
				<tbody>

					{% for data in habit_violations %}
						<tr>
							<td>{{data['viol_date'].strftime('%b %d %Y %I:%M %p')}}</td>
							<td>{{data['helper_name']}}</td>
							<td>${{data['amount']}}</td>
							<td>
								<!-- <a href="/habits/pay_violation/{{data['viol_id']}}">Pay</a> -->
								<form action="/habits/pay_violation/{{data['viol_id']}}" method="POST">
									<input type="hidden" name="email" value="{{data['helper_email']}}"><!-- helper email-->
									<input type="hidden" name="amount" value="{{data['amount']}}"><!-- amount for violation-->
									<input type="submit" value="Pay Now">
								</form>
								<!-- <a href="/destroy/{{data.habit_id}}">Remove</a> -->
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
					
				
			{% endif %}
			<a href="/users/{{session['id']}}">Go Back</a>
			
		</div>
		<footer>
			<p> &copy;RabbitBreakesTeam <a href="#">Help</a> <a href="#">Contact</a></p>
		</footer>
	</div>
</body>
</html>